
.DS_Store

CulturaVisual/CulturaVisual.xcodeproj/project.xcworkspace/xcuserdata/angel.xcuserdatad/UserInterfaceState.xcuserstate

CulturaVisual/CulturaVisual.xcodeproj/project.xcworkspace/xcuserdata/maggs.xcuserdatad/UserInterfaceState.xcuserstate
